:root{

    --color-fondo:#0D1117;
    --color-navbar:#111827;

    --color-primario:#00A8FF;
    --color-primario-hover:#0087CC;

    --color-blanco:#FFFFFF;
    --color-gris:#B8B8B8;

    --radio:15px;

    --transicion:.30s;

}