:root {
    /* Paleta Tecnológica y Premium (Computadoras Lei) */
    --color-fondo: #070A0F;
    --color-navbar: rgba(11, 15, 24, 0.96);
    --color-tarjeta: #111622;
    --color-tarjeta-destacada: #182030;
    
    /* Acento Cyan Eléctrico (Sensación de velocidad y software moderno) */
    --color-primario: #00F0FF;
    --color-primario-hover: #00B8CC;
    --color-blanco: #FFFFFF;
    --color-gris: #94A3B8;
    --color-gris-oscuro: #64748B;
    
    /* Variables de estructura */
    --radio: 12px;
    --transicion: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    --sombra: 0 10px 30px rgba(0, 240, 255, 0.05);
    --sombra-heavy: 0 15px 40px rgba(0, 0, 0, 0.5);
}